@import "../../vars.css";

.contact {
  min-height: 30vh;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 20px 10%;
  gap: 10px;
}

.text h4 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.text p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.link img {
  width: 24px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
